*{
    font-family: 'Rubik', sans-serif;
}

body{
    text-align: center;
    background-color: #691839;
    color: antiquewhite;
}

nav{
    margin-bottom: 35px;
}

ul{
    display: inline-flex;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px solid antiquewhite;
    width: 80%;
    flex-wrap: wrap;
}

ul li {
    margin: auto;
    list-style-type: none;
    padding: 10px; 
}

ul li a{
    color: antiquewhite;
    text-decoration: none;
}

h2{
    border: 1px solid white;
    width: 80%;
    margin: auto;
}

section{
    margin: auto;
    border: 1px solid antiquewhite;
    width: 80%;
    margin-bottom: 20px;
}

img{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 7px;
    border: 2px solid antiquewhite;
}

table{
    margin: auto;
    width: 90%;
    
    font-weight: 300;
}

.normal{
    display: inline;
    /* ou inline, inline-block */
  }
  
.pequeno{
    display: none;
  }

td,th{
    width: 20px;
}

td:nth-child(even) {
    background: rgb(128, 108, 108);
}

td:nth-child(odd) {
    background: rgb(136, 127, 127);
}

th.primeiro,
td.primeiro{
    border-right: 3px solid antiquewhite;
    padding: 10px;
    text-align: start;
}


td.classificado{
    background-color: rgba(99, 170, 99, 0.637);
}

p.legenda{
    font-size: 11px;
    /* margin-bottom: 35px; */
    margin: 20px 30px;
}

hr{
    width: 75%;
}

.tabela-oitavas,
.tabela-quartas,
.tabela-semi,
.tabela-final{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-jogo{
    background-color: rgb(136, 127, 127);
    max-width: 200px;
    border-radius: 4px;
    margin: 20px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

.info-jogo.a-definir{
    max-width: 400px;
}

.titulo{
    background-color: rgb(128, 108, 108);
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.hora-jogo{
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px; 
}

span.data{
    background-color:#691839;
    border-radius: 15px;
    padding: 6px;
    color: antiquewhite;
    font-size: 10px;
}


.times{
    background-color: rgb(128, 108, 108);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.time{
    display: inline-block;
}

span.gols{
    background-color:#691839;
    border-radius: 5px;
    padding: 2px 4px;
    color: antiquewhite;
    font-size: 12px;
}

.penalt{
    margin-top: 5px;
    font-size: 12px;
    font-weight: lighter;
}

.estadio{
    font-size: 10px;
}

.desc-jogo{
    font-weight: lighter;
    font-size: 13px;
}

@media(max-width: 800px) {
    .normal {
      display: none;
    }
    .pequeno {
      display: inline;
      /* ou inline, inline-block */
    }

    td.primeiro, tr.primeiro{
        text-align: center;
        margin: auto;
    }

    img{
        margin: auto;
        margin-bottom: 5px;
    }

    ul, h2, section{
        width: 99%;
    }
  }